/*Importation d'une police d'arcade*/
@import url('https://fonts.cdnfonts.com/css/arcade-classic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ArcadeClassic', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
}

canvas {
  border: 29px solid #231f20;
  border-top: 55px solid #231f20;
}

/* Positionnement des textes présent dans le jeu */
#scoretxt {
  position: fixed;
  color: white;
  font-size: 4cqi;
  top: 197px;
  left: 290px;
}
#score {
  position: fixed;
  color: white;
  font-size: 4cqi;
  top: 197px;
  right: 290px;
}
#gameover {
  position: fixed;
  color: white;
  font-size: 4rem;
}
